.container {
  background: '#FCFCFE' !important;
  padding-top: 50px;
}

.text {
  width: 250px;
  color: '#33333';
  position: relative;
  margin: 0 auto;
  font-size: var(--font-size-5);
}

.text::before,
.text::after {
  content: '';
  position: absolute;
  width: 36px; /* 이미지의 너비에 맞게 조절 */
  height: 36px; /* 이미지의 높이에 맞게 조절 */
  background-size: contain;
  background-repeat: no-repeat;
}

.text::before {
  top: -15px;
  left: -5px;
  background-image: url('../../assets/icons/open_double_quote.png'); /* 시작하는 큰따옴표 이미지 경로 */
}

.text::after {
  right: 5px;
  bottom: -15px;
  background-image: url('../../assets/icons/close_double_quote.png'); /* 끝나는 큰따옴표 이미지 경로 */
}

.floatingButton {
  position: fixed;
  bottom: 30px; /* 화면 하단에서의 거리 조정 */
  right: 20px; /* 화면 우측에서의 거리 조정 */
  width: 76px; /* 버튼의 너비 */
  height: 76px; /* 버튼의 높이 */
  border-radius: 50%; /* 동그란 모양 */
  background-color: var(--main-color-3); /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition:
    background-color 0.3s,
    transform 0.3s;
}

@media (max-width: 420px) {
  .container {
    padding-top: 80px;
  }
  .text {
    width: 200px;
    font-size: var(--font-size-4);
  }
  .text::before,
  .text::after {
    width: 30px; /* 이미지의 너비에 맞게 조절 */
    height: 30px; /* 이미지의 높이에 맞게 조절 */
  }
}
