.container {
  text-align: center;
}
.container .title strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 680px) {
  .content > ul {
    gap: 30px;
  }
}

@media screen and (max-width: 420px) {
  .content > ul {
    display: block;
  }
}
