.record_box {
  height: 100%;
}
/* btn_open_modal */
.record_box .btn_open_modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}
.record_box .btn_open_modal button {
  display: block;
  width: 100%;
  height: 100%;
}
.record_box .btn_open_modal button i {
  position: relative;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--main-color-3);
}
.record_box .btn_open_modal button i::before {
  content: '+';
  display: block;
  height: 40px;
  line-height: 38px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-indent: 0;
}

/* subject_list */
.record_box .subject_list {
  width: 100%;
}
.record_box .subject_list li {
  max-width: 100%;
  line-height: 1;
}
.record_box .subject_list li p {
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}
.record_box .total_time {
  line-height: 1;
  color: var(--main-color-3);
}
@media screen and (max-width: 840px) {
  .record_box {
    gap: 0;
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--br-color);
  }
  .record_box .subject_list {
    margin-bottom: 10px;
  }
  .record_box .subject_list.blank {
    display: none;
  }
  .record_box .total_time {
    text-align: left;
  }
}
