.record_box {
  height: 100%;
}
.record_box .subject_list {
  width: 100%;
}
.record_box .subject_list li {
  max-width: 100%;
  line-height: 1;
  padding: 5px;
  border-radius: 4px;
  background-color: #f1f1ff;
  color: var(--main-color-3);
  box-sizing: border-box;
}
.record_box .subject_list li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.record_box .total_time {
  line-height: 1;
  color: var(--main-color-3);
}

.record_box .subject_list.level2 li {
  background-color: #cdccff;
  color: #6153b8;
}

.record_box .subject_list.level3 li {
  background-color: var(--main-color-3);
  color: #f1f1ff;
}
@media screen and (max-width: 840px) {
  .mobile_record {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--br-color);
  }
  .record_box {
    gap: 0;
  }

  .record_box .subject_list {
    margin-bottom: 10px;
  }

  .record_box .total_time {
    text-align: left;
  }
}
