/* container */
.container_inner {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #f1f1ff;
}

/* calendar_header */
.calendar_header {
  position: relative;
}
.calendar_header button.arr {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid var(--br-color);
  background-color: #fff;
  font-size: 0;
}
.calendar_header .btn_open_month_picker {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.2s linear;
}
.calendar_header .btn_open_month_picker:hover {
  background-color: #eee;
}

/* calendar_table */
.calendar_table {
  margin-top: 15px;
}
.calendar_table table {
  border-collapse: separate;
  border-spacing: 0;
}

.calendar_table th {
  height: 60px;
  background-color: #f1f1ff;
  font-size: 18px;
  font-weight: 500;
}
.calendar_table th.radius_left {
  border-radius: 8px 0 0 8px;
}
.calendar_table th.radius_right {
  border-radius: 0 8px 8px 0;
}

.calendar_table .blank_row td {
  padding-top: 10px;
}
.calendar_table .content_row td {
  position: relative;
  border-right: 1px solid var(--br-color);
  border-bottom: 1px solid var(--br-color);
  padding: 10px;
  height: 120px;
  box-sizing: border-box;
  vertical-align: top;
}
.calendar_table .content_row td.today:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color-3);
  box-sizing: border-box;
}
.calendar_table .content_row:nth-child(2) td {
  border-top: 1px solid var(--br-color);
}
.calendar_table .content_row:nth-child(2) td:first-of-type {
  border-radius: 8px 0 0 0 !important;
}
.calendar_table .content_row:nth-child(2) td:last-of-type {
  border-radius: 0 8px 0 0 !important;
}
.calendar_table .content_row:last-of-type td:first-of-type {
  border-radius: 0 0 0 8px !important;
}
.calendar_table .content_row:last-of-type td:last-of-type {
  border-radius: 0 0 8px 0 !important;
}
.calendar_table .content_row td:first-of-type {
  border-left: 1px solid var(--br-color);
}
.calendar_table .content_row td * {
  position: relative;
  z-index: 1;
}
.calendar_table .content_row .cell {
  height: 100%;
}
.calendar_table .content_row .date {
  line-height: 1;
}

/* level_list */
.level_list > p {
  line-height: 1.2;
}
.level_list ul li {
  position: relative;
  padding-left: 20px;
}
.level_list ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #f1f1ff;
}
.level_list ul li.level2:before {
  background-color: #cdccff;
}
.level_list ul li.level3:before {
  background-color: var(--main-color-3);
}
.level_list ul li span {
  display: block;
  line-height: 1.2;
}

/* calendar_list */
.calendar_list > ul {
  position: relative;
}
.calendar_list > ul:has(.days)::before {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  top: 3px;
  width: 1px;
  height: 100%;
  background-color: var(--br-color);
}
.calendar_list > ul:has(.days) > li:not(.blank) {
  display: flex;
  margin-top: 25px;
}
.calendar_list ul li:first-of-type {
  margin-top: 0;
}
.calendar_list ul li .list_tit {
  position: relative;
  width: 80px;
  flex: none;
  text-align: center;
}
.calendar_list ul li .list_tit::before {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  border: 1px solid var(--br-color);
  background-color: #fff;
  box-sizing: border-box;
}
.calendar_list ul li.today .list_tit:before {
  border: 1px solid var(--main-color-3);
  background-color: var(--main-color-3);
}
.calendar_list ul li.today .list_tit:after {
  content: '';
  display: block;
  position: absolute;
  right: -8px;
  top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #cdccff;
  z-index: -1;
}
.calendar_list ul li .list_tit b {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.calendar_list ul li .list_tit i {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  margin-top: 5px;
  line-height: 1;
}
.calendar_list ul li .list_con {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 840px) {
  .full_calendar > div {
    padding: 20px;
  }

  .container_inner {
    border-radius: 0;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
