.month_picker {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 300px;
  background-color: #fff;
  box-shadow: var(--shadow-3);
  border-radius: 8px;
  z-index: 5;
}
.month_picker .year_list button {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.month_picker .year_list p {
  font-weight: 700;
}
.month_picker .month_list ul li {
  width: 25%;
  text-align: center;
}
.month_picker .month_list ul li .month {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  cursor: pointer;
}
.month_picker .month_list ul li .month.active {
  background-color: var(--main-color-1);
  border: 1px solid #7667dc;
  border-radius: 6px;
}
.month_picker .month_list ul li .month p {
  line-height: 1;
}
.month_picker .month_list ul li .month .total_time {
  height: 20px;
}
.month_picker .month_list ul li .month .total_time i {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #cbc6f1;
}
