.footer{display:none !important; position:fixed; left:0; bottom:0; width:100%; height: 60px; background-color: #fff; border-radius: 8px 8px 0 0; box-shadow: var(--shadow-3); z-index: 100;}
.footer ul{height: 100%;}
.footer ul li{width: 25%; text-align: center;}
.footer ul li .svg{font-size: 0;}
.footer ul li a.active .svg path{fill: var(--main-color-3);}
.footer ul li p{line-height: 1; color: #a4a9b7;}
.footer ul li a.active p{color: var(--main-color-3); font-weight: 700;}

@media screen and (max-width: 680px){
  .footer{display:block !important;}
}
