/* modal */
/* modal_content */
.modal_content {
  margin: -24px 0;
}

/* modal_header */
.modal_header {
  height: 60px;
  padding: 0 24px;
  border-bottom: 1px solid #dde1eb;
  box-sizing: border-box;
}
.modal_header > div {
  width: 100%;
}
.modal_header h1 {
  display: block;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0;
}
.modal_header h1:before {
  display: none;
}
.modal_header .right {
  margin-right: -8px;
}
.modal_header .btn_close {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.modal_header .btn_close svg {
  width: 24px;
  height: 24px;
}

/* modal_body */
.modal_body .title strong {
  position: relative;
  display: inline-block;
  line-height: 1.2;
  font-size: 20px;
}
.modal_body .title strong:before {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -2px;
  height: 12px;
  background-color: #dbdbff;
  z-index: -1;
}

/* subject_list */
.subject_list li > *{
  background-color: #f1f1ff;
  color: var(--main-color-3);
}
.subject_list.level2 li > *{
  background-color: #cdccff;
  color: #6153b8;
}
.subject_list.level3 li > *{
  background-color: var(--main-color-3);
  color: #f1f1ff;
}
.subject_list li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}