/* modal_body */
.modal_body .list ul li {
  position: relative;
  padding-left: 10px;
  font-size: 14px;
}
.modal_body .list ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--main-color-3);
}

/* modal_footer */
.modal_footer {
  height: 40px;
  padding: 0 24px;
  background-color: var(--main-color-3);
}
.modal_footer label {
  color: #fff;
}
