.link {
  display: inline-block;
  gap: 3px;
  padding: 0 10px; 
  height: 24px;
  line-height: 22px;
  border-radius: 4px;
  border: 1px solid #7667DC;
  font-size: 0;
  box-sizing: border-box;
}
.link span {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #7667DC;
}
.link span:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-image: url(/imgs/ico_link.svg);
}
