/* modal_header */
.level_rank {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background-color: #f1f1ff;
  color: var(--main-color-3);
  border-radius: 4px;
  text-transform: capitalize;
}
.level_rank.level2 {
  background-color: #cdccff;
  color: #6153b8;
}
.level_rank.level3 {
  background-color: var(--main-color-3);
  color: #f1f1ff;
}

/* tab_tit */
.tab_tit {
  display: inline-block;
  background-color: #f1f1ff;
  border-radius: 8px;
}
.tab_tit > div {
  font-size: 16px;
  font-weight: 500;
  box-shadow: none;
  overflow: visible;
}
.tab_tit button {
  display: block;
  width: 150px;
  height: 48px;
  line-height: 48px;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.tab_tit button[data-state='active'] {
  font-weight: 700;
  background-color: var(--main-color-3);
  box-shadow: 0px 0px 13px 0px rgba(130, 116, 234, 0.7);
}
.tab_tit button[data-state='active']::before {
  display: none;
}
.tab_tit button span {
  position: static;
  display: block;
  padding: 0;
  text-align: center;
  color: var(--main-color-3);
  background-color: transparent;
}
.tab_tit button[data-state='active'] span {
  color: #fff;
}
