/* tab_cont */
.box .title {
  padding-left: 5px;
}

.box .content .total_time {
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
}

.box .content .subject_list li > * {
  height: 52px;
  padding: 0 20px;
  border-radius: 8px;
}
.box .content .subject_list li p,
.box .content .subject_list li button {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 52px;
}
.box .content .subject_list li button::before {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.box .content .subject_list.btn_minus button::before {
  content: '-';
  background-color: #f75353;
}
.box .content .subject_list.btn_plus button::before {
  content: '+';
  background-color: #51e769;
}

.box .content .textarea textarea {
  height: 180px;
  font-size: 16px;
}

.box .content .textarea textarea::-webkit-scrollbar {
  width: 4px;
}

.box .content .textarea textarea::-webkit-scrollbar-thumb {
  background: #aeb0bd;
  border-radius: 4px;
}

.box .content .textarea textarea::-webkit-scrollbar-track {
  background: #f0f0f3;
  border-radius: 4px;
}

/* btn_box */
.btn_box button {
  max-width: 200px;
}
