.container {
  height: 1px;
  min-height: calc(100vh - 77px);
  overflow-y: auto;
}

.container_inner {
  height: 100%;
}

.tab_category {
  margin-bottom: 20px;
}

.tab_category button {
  position: relative;
  display: block;
  width: 120px;
  height: 50px;
  font-size: var(--font-size-4);
}

.tab_category button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--main-color-2);
  transition:
    background-color 0.3s ease,
    height 0.3s ease;
  /* box-shadow: 0 2px 0 0 transparent; */
}

.tab_category button.active {
  font-weight: bold;
}

.tab_category button.active::after {
  background-color: var(--main-color-3);
  height: 3.5px;
}

.full_rankings_wrap {
  width: 100%;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-top: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #fff;
  border: 1px solid #f1f1ff;
}

@media screen and (max-width: 860px) {
  .container {
    min-height: calc(100vh - 62px);
  }
}

@media screen and (max-width: 720px) {
  .tab_category {
    margin-bottom: 0px;
  }

  .full_rankings_wrap {
    margin-top: 0px;
    padding-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .top_rankings_wrap {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    min-height: calc(100vh - 122px);
  }

  .tab_category button {
    width: 90px;
    height: 40px;
    font-size: var(--font-size-3);
  }
}
