.member_wrap {
  padding: 60px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dde1eb;
}
.member_wrap .title h2 {
  font-size: var(--font-size-8);
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.2;
  text-align: center;
}
.member_wrap .content {
  margin-top: 60px;
}
.member_wrap .content .row {
  margin-top: 20px;
}
.member_wrap .content .row:first-of-type {
  margin-top: 0;
}
.member_wrap .content .row > label {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.member_wrap .content .input input[type='text'],
.member_wrap .content .input input[type='password'] {
  display: block;
  padding: 0 20px;
  width: 100%;
  height: 56px;
  line-height: 54px;
  font-size: 16px;
  border: 1px solid #dde1eb;
  border-radius: 8px;
  box-sizing: border-box;
}
.member_wrap .content .radio_box {
  gap: 30px;
  row-gap: 15px;
  flex-wrap: wrap;
}
.member_wrap .content .radio input[type='radio'] + label {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 26px;
  cursor: pointer;
}
.member_wrap .content .radio input[type='radio'] + label::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #dde1eb;
  box-sizing: border-box;
}
.member_wrap .content .radio input:checked[type='radio'] + label {
  color: var(--main-blue-1);
}
.member_wrap .content .radio input:checked[type='radio'] + label::before {
  border: 1px solid var(--main-blue-1);
}
.member_wrap .content .radio input:checked[type='radio'] + label::after {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-color: var(--main-blue-1);
  border-radius: 100%;
}
.member_wrap .content .radio input[type='radio'] {
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.member_wrap .content .btn_box {
  margin-top: 40px;
}
.member_wrap .content .btn_box .button button,
.member_wrap .content .btn_box .button a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: var(--main-color-3);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.member_wrap .content .btn_box .button button:hover,
.member_wrap .content .btn_box .button a:hover {
  background-color: #a19dec;
}
.member_wrap .content .btn_join .button {
  margin-top: 10px;
}
.member_wrap .content .btn_join .button a {
  background-color: var(--main-color-1);
  color: var(--main-color-3);
}
.member_wrap .content .btn_join .button a:hover {
  background-color: #f1f1ff;
}
