@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.landing_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;

}

/* 인트로 섹션 */
.intro {
    position: relative;
    top: 0;
    left: 0;
    height: 95vh;
    padding: 0px 90px;
    background: linear-gradient(to bottom, #F9F9FF 10%, #e7dcfd 50%, #d0d4ff 100%);
}

.intro_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.timer_icon_wrap {
    width: 37%;
    height: auto;
}

.timer_icon {
    animation: swing 2s infinite ease-in-out;
}

@keyframes swing {
    0% {
        transform: translateX(-10px) rotate(-5deg);
    }

    50% {
        transform: translateX(10px) rotate(5deg);
    }

    100% {
        transform: translateX(-10px) rotate(-5deg);
    }
}

.intro_text_wrap {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_text {
    font: 90px 'yg-jalnan';
    color: rgb(68, 68, 68);
}

.intro_text_detail {
    font-family: 'SUIT-Regular';
    color: rgb(68, 68, 68);
}

.intro_btn {
    font-weight: bold;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.intro_btn:hover {
    background-color: var(--main-color-2);
    color: white;
}

.intro_arrow_wrap {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    width: 50px;
    animation: blink 1.5s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0.4;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 부가설명 */

.add_explane {
    width: 100%;
    background-color: #fdfdfd;
    text-align: center;
    padding: 150px 0px;
}

.add_explane_text {
    font-size: 30px;
    line-height: 55px;
    font-weight: 500;
}

/* 타이머소개섹션 */

/* animation 설정*/
.timer_detail,
.timer_title,
.timer_img_wrap {
    opacity: 0;
    transform: translateY(200px);
}


.timer_detail_wrap{
    padding: 100px 0px 50px 0px;
    text-align: center;
}


.timer_title {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer_title_icon {
    width: 30px;
    padding-right: 10px;
}


.timer_img_wrap {
    padding-bottom: 100px;
}

.timer_img_desktop,
.timer_img_mobile {
    position: relative;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.timer_img_desktop {
    left: 50%;
    transform: translate(-50%, 0%);
}

.timer_img_mobile {
    width: 15%;
    left: 25%;
    transform: translate(-30%, 20%);
}

/* 랭킹 소개*/
.ranking {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_img_wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.ranking_img_desktop {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.ranking_title{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.ranking_title_icon{
    width: 50px;
}