.scroll_table {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.scroll_table > div {
  padding: 0px 5px 0px 5px;
}

.scroll_table thead th {
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 10px;
  text-align: center;
  background-color: #f1f1ff;
  z-index: 1;
}

.scroll_table thead th.name {
  text-align: left;
}

.scroll_table thead th.radius_left {
  border-radius: 8px 0 0 8px;
}

.scroll_table thead th.radius_right {
  border-radius: 0 8px 8px 0;
}

.scroll_table tbody td {
  height: 60px;
  padding: 0 10px;
  text-align: center;
}

.scroll_table tbody td.name {
  text-align: left;
}

.scroll_table tbody td.blank {
  height: 0;
  padding-top: 10px;
}

.scroll_table tbody img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.scroll_table {
  max-height: 450px;
  overflow-y: auto;
}

.scroll_table::-webkit-scrollbar {
  width: 3px;
}

.scroll_table::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 3px;
}

.scroll_table::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 3px;
}

.loader {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .scroll_table th:nth-child(4),
  .scroll_table td:nth-child(4),
  .scroll_table th:nth-child(6),
  .scroll_table td:nth-child(6) {
    display: none;
  }

  .scroll_table thead th,
  .scroll_table tbody td {
    font-size: var(--font-size-2);
  }

  .scroll_table thead th {
    height: 55px;
    padding: 0 10px;
  }

  .scroll_table tbody td {
    height: 45px;
  }

  .scroll_table > div {
    padding: 0px 2px 0px 0px;
  }
}
