.full_ranking_container {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.full_ranking_table_wrap {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.full_ranking_thead_wrap th {
    position: sticky;
    top: 0;
    background-color: #F1F1FF;
    z-index: 1;
}

.full_ranking_tr>th {
    height: 50px;
    background-color: #F1F1FF;
}

.full_ranking_tr>th:first-child {
    border-radius: 8px 0 0 8px;
}

.full_ranking_tr>th:last-child {
    height: 60px;
    border-radius: 0 8px 8px 0;
}

.full_ranking_student {
    height: 50px;

}

.full_ranking_student img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.full_ranking_thead_wrap th {
    padding: 5px 0;
}

.full_ranking_tbody_wrap td {
    padding: 25px 0;
}

.full_ranking_thead_wrap th:nth-child(1),
.full_ranking_tbody_wrap td:nth-child(1) {
    width: 15%;
}

.full_ranking_thead_wrap th:nth-child(2),
.full_ranking_tbody_wrap td:nth-child(2) {
    width: 5%;
}

.full_ranking_thead_wrap th:nth-child(3),
.full_ranking_tbody_wrap td:nth-child(3) {
    width: 8%;
}

.full_ranking_thead_wrap th:nth-child(4),
.full_ranking_tbody_wrap td:nth-child(4) {
    width: 20%;
}

.full_ranking_thead_wrap th:nth-child(5),
.full_ranking_tbody_wrap td:nth-child(5) {
    width: 20%;
}

.full_ranking_thead_wrap th:nth-child(6),
.full_ranking_tbody_wrap td:nth-child(6) {
    width: 15%;
}

.full_ranking_thead_wrap th:nth-child(7),
.full_ranking_tbody_wrap td:nth-child(7) {
    width: 15%;
}

.scrollable_tbody {
    max-height: 400px;
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable scrolling */
}

@media screen and (max-width: 860px) {
    .full_ranking_thead_wrap {
        background-color: aqua;
    }
}

@media screen and (max-width: 680px) {
    .full_ranking_tr>th {
        line-height: 1;
        font-size: var(--font-size-2);
    }

    .full_ranking_student>td {
        height: 25px;
        font-size: var(--font-size-2);
    }

    /* 이미지 */
    .full_ranking_thead_wrap th:nth-child(2),
    .full_ranking_tbody_wrap td:nth-child(2) {
        width: 7%;
    }
    

    /* 이름 */
    .full_ranking_thead_wrap th:nth-child(3),
    .full_ranking_tbody_wrap td:nth-child(3) {
        width: 20%;
    }

    /* 공백 */
    .full_ranking_thead_wrap th:nth-child(4),
    .full_ranking_tbody_wrap td:nth-child(4) {
        width: 10%;
    }

    .full_ranking_thead_wrap th:nth-child(5),
    .full_ranking_tbody_wrap td:nth-child(5) {
        display: none;
    }

    .full_ranking_thead_wrap th:nth-child(6),
    .full_ranking_tbody_wrap td:nth-child(6) {
        width: 20%;
    }

    .full_ranking_thead_wrap th:nth-child(7),
    .full_ranking_tbody_wrap td:nth-child(7) {
        width: 20%;
    }


    .full_ranking_thead_wrap th {
        padding: 0px 0;
    }


}

