/* topRankingList.module.css */
/* common */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.color_gray {
  color: #8c8c8c;
  height: 20px;
}

/* ranking_list */

.ranking_list li:not(.no_ranking) {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 200px;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ranking_list li.no_ranking > div {
  height: 100%;
}

/* 2 ~ 3등 크기 */
.side_box {
  transform: scale(0.9);
}

.img_medal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user_info {
  width: 100%;
  text-align: center;
}

.time_info {
  width: 100%;
}

.time_info .studey_time {
  text-align: left;
}

.time_info .total_time {
  text-align: right;
}

.no_ranking {
  height: 250px;
}

@media screen and (max-width: 720px) {
  .ranking_list {
    gap: 0px;
    height: 220px;
  }

  .side_box {
    transform: scale(0.85);
  }

  .student_image {
    width: 100px;
    height: 100px;
  }

  .ranking_list li:not(.no_ranking) {
    background-color: transparent;
    width: 130px;
    box-shadow: none;
    height: 150px;
    margin: 0px 5px;
  }

  .time_info {
    display: none;
  }

  .img_medal {
    top: -20px;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .ranking_list li:not(.no_ranking) {
    margin: 0px 0px;
  }
}
