/* topRankingList.module.css */
.top_ranking_box_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.top_ranking_box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  margin: 0 30px;
  border-radius: 10px;
}

/* 크기를 다르게 하기 위한 클래스 */
.ranking_box_size_small {
  width: 170px;
  height: 220px;
}

.ranking_box_size_large {
  width: 200px;
  height: 250px;
}

.medal_image_wrap {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}

.medal_image {
  position: absolute;
  top: 0; right: 0;
  width: 15%;
  height: 100%;
}

.medal_image_small {
  width: 30px;
  height: 38px;
}

.medal_image_large {
  width: 35px;
  height: 45px;
}

.student_image {
  width:40%;
  height:33%;
}


.student_name,
.student_class {
  font-size: 15px;
}

.student_class{
  color: rgb(140, 140, 140);
}

.student_info{
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.details_time{
  text-align: left;
}

.accumulate_time{
  text-align: right;
}

.studyTime, .totalTime{
  color: rgb(140, 140, 140);
}


.no_rankings{
  padding: 125px 0px;
}


@media screen and (max-width: 480px) {
  .top_ranking_box {
      padding: 10px;
      margin: 0 30px;
    }
    
/* 크기를 다르게 하기 위한 클래스 */
  .ranking_box_size_small {
    width: 150px;
    height: 200px;
  }

  .ranking_box_size_large {
    width: 180px;
    height: 230px;
  }

  .no_rankings{
    padding: 115px 0px;
  }
}