.inner {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid var(--br-color);
}

@media screen and (max-width: 680px) {
  .container {
    padding: 20px;
  }
  .inner {
    padding: 25px 16px;
  }
}