.inner {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid var(--br-color);
}
.title strong {
  display: block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .title strong {
    font-size: 30px;
  }
}
