.user_info {
  font-size: 0;
  text-align: center;
}

.img_box {
  position: relative;
  display: inline-block;
}

.back_img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 100%;
  background-size: cover;
  overflow: hidden;
  width: 180px;
  height: 180px;
}

.back_img span {
  width: 180px;
  height: 180px;
}

.btn_file input[type='file'] {
  display: none;
}

.btn_file button {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid var(--br-color);
  box-sizing: border-box;
  font-size: 0;
}

.txt_box strong {
  display: block;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 700;
}
